.reviews {
  height: 410px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  background-image: url("../../assets/clouds.png");
  background-color: #d2982d;
}

.reviews-container {
  width: 460px;
}

.reviews-container-slider-card {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 213px;
  width: 460px;
  border: 1px solid black;
  border-radius: 16px;
  background-color: #403b45;
}

.reviews-container-slider-card-text {
  width: 82%;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.reviews-container-slider-card-person {
  width: 80%;
}

.reviews-container-slider-card-person-name {
  display: flex;
  width: 43%;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.reviews-container-slider-card-title {
  width: 80%;
  font-size: 12px;
  font-weight: 400;
  color: #919191;
}

h5,
h6 {
  margin: 0;
}
