

.header-div {
  padding: 20px 50px;
  height: 10px;
  background: #D2982D;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-div-logo {
  background-image: url(../../assets/juniper.png);
  height: 17px;
  width: 97px;
}

.header-div-navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  list-style-type: none;
}

.header-div-navbar-list-item-link {
  color: #FFFFFF;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
