.download {
  height: 230px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d2982d;
}

.download-text-short {
  font-size: 24px;
  font-weight: 600;
  color: #ffc355;
}

.download-text-long {
  margin-top: 50px;
  width: 50%;
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
}

.download-button {
  margin-top: 50px;
  width: 250px;
  height: 51px;
  top: 178px;
  left: 247.5px;
  border-radius: 10px;
  background-color: #2b261d;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}
